<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>首页  0826网  V0.1.45 一个佛系的网站_生活 日常 搞笑 娱乐 鸡汤 心情</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<link type="text/css" rel="styleSheet" href="css/bootstrap.min.css" />
<link type="text/css" rel="styleSheet" href="css/myCSS.css" />
<link rel="stylesheet" href="index/css/style.css" media="screen" type="text/css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="css/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--弹窗样式1-->
<link rel="stylesheet" type="text/css" href="selfDefine/sweetalert/sweetalert.css">
<script type="text/javascript" src="selfDefine/sweetalert/sweetalert-dev.js"></script>
<!--引入Vue-->
<script type="text/javascript" src="selfDefine/Vue/vue.js"></script>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
</head>
<body>
	<div class="panel panel-info">
        <!-------------------------账户模块------------------------------->
		<div class="panel-heading" style="z-index:999">
			<a> <img src="imgs/img.jpeg" align="right" width="55px"
				height="55px" class="img-circle">
			</a>
			<h4>Welcome honey!</h4>

			<a href="/0826/myInfo" th:style="${session.iUser==null}?'display:none;':'font-size: medium;'" th:text="${session.userName}">
			</a>
			<a href="/0826/logout" th:style="${session.iUser==null}?'display:none;':'font-size: medium'" th:text="${session.quitStr}">
			</a>
			<a href="/0826/login" th:style="${session.iUser==null}?'font-size: medium':'display:none'" th:text="我要登录哼">
			</a>
			<a href="/0826/re" th:style="${session.iUser==null}?'font-size: medium':'display:none'" th:text="让我加入鸭">
			</a>

			<!--<span id="userName" style="font-size: medium" th:if="${session.iUser != null}"><a href="/0826/myInfo" th:text="${session.userName}"></a></span>&nbsp;&nbsp;-->
			<!--<span id="quitStr" style="font-size: medium" th:if="${session.iUser != null}"><a href="/0826/logout" th:text="${session.quitStr}"></a></span>-->
			<!--<p style="font-size: medium" th:if="${session.iUser == null}"><span><a href="/0826/login">我要登录哼</a></span>-->
				<!--&nbsp;&nbsp;<a href="/0826/re">让我加入鸭</a></p>-->
		</div>
		<!-- ------------------------------------------------------ -->

		<!-- -------------------------导航栏------------------------- -->

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/0826"><img class="img-rounded" src="imgs/logo_2.png" width="190px"
						height="50px"></a>
				</div>
				<div>
					<ul class="nav nav-pills" style="margin: 0 0 0 20px;">
						<li class="leader"><a href="/0826">首页儿</a></li>
						<li class="leader"><a href="/0826/zj">足迹鸭</a></li>
						<li class="leader"><a href="/0826/sg">时光影集</a></li>
						<!-- ------------------下拉导航------------- -->
						<li class="dropdown" style="margin-top: 5px"><a class="dropdown-toggle"
							data-toggle="dropdown" title="记得把声音调小哦">小窝窝<b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="/0826/zxt">找相同哦</a></li>
								<li><a href="/0826/llk">连连看看</a></li>
								<li><a href="/0826/zz">蜘蛛纸牌</a></li>
								<li><a href="/0826/ppl">泡泡龙 </a></li>
								<li><a href="/0826/sj">来打鸭子</a></li>
								<li><a href="/0826/mota">魔塔beta</a></li>
								<li class="divider"></li>
								<li><a href="/0826/zhh">种花花</a></li>
							</ul></li>
						<!-- ------------------------------------- -->

						<li class="leader"><a href="/0826/happy">内涵段子</a></li>
						<li class="leader"><a href="/0826/sh">我要嗦发</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- ------------------------------------- -->
		<div class="panel-body">
		
		<!-- ------------------------------------- 
			<p class="lead">
			<pre>
				写在前面：
					这里是0826小窝哦，欢迎光临！
			</pre>
			</p>
			-->
		<canvas id="text" style="margin-top: -200px" width="500" height="100"></canvas>
		<canvas id="stage" style="margin-top: -400px" width="500" height="100"></canvas>
			<form id="form" href="/">
				<input class="form-control" id="inputText" value="0826"/>
				<br>
				<input class="btn btn-success" type="submit" value="见证奇迹"/>
			</form>
		<script type="text/javascript" src='index/js/EasePack.min.js'></script>
		<script type="text/javascript" src='index/js/TweenLite.min.js'></script>
		<script type="text/javascript" src='index/js/easeljs-0.7.1.min.js'></script>
		<script type="text/javascript" src='index/js/requestAnimationFrame.js'></script>
		<script type="text/javascript" src="index/js/index.js"></script>
		</div>
	</div>

<!--==========================-->
<!--start浮动小人-->
<!--<script type="text/javascript" src="selfDefine/theSmallPerson/spig.js"></script>-->
<!--<style>-->
	<!--.spig {display:block;width:130px;height:170px;position:absolute;bottom: 300px;left:160px;z-index:9999;}-->
	<!--#message{color :#191919;-->
		<!--border: 1px solid #c4c4c4;-->
		<!--background:#ddd;-->
		<!-- -moz-border-radius:5px;-->
		<!-- -webkit-border-radius:5px;-->
		<!--border-radius:5px;-->
		<!--min-height:1em;-->
		<!--padding:5px;-->
		<!--top:-45px;-->
		<!--position:absolute;-->
		<!--text-align:center;-->
		<!--width:auto !important;-->
		<!--z-index:10000;-->
		<!-- -moz-box-shadow:0 0 15px #eeeeee;-->
		<!-- -webkit-box-shadow:0 0 15px #eeeeee;-->
		<!--border-color:#eeeeee;-->
		<!--box-shadow:0 0 15px #eeeeee;-->
		<!--outline:none;}-->
	<!--.mumu{width:130px;-->
		<!--height:170px;-->
		<!--cursor: move;-->
		<!--background:url(../../selfDefine/theSmallPerson/spig0.png) no-repeat;-->
	<!--}-->
	<!--@media (max-width:560px){-->
		<!--.spig{display: none;}-->
	<!--}-->
<!--</style>-->
<!--<div id="spig" class="spig">-->
	<!--<div id="message">加载中……</div>-->
	<!--<div id="mumu" class="mumu"></div>-->
<!--</div>-->
<!--&lt;!&ndash;end浮动小人&ndash;&gt;-->
<!--<span class="hitokoto" id="hitokoto" style="display:none">Loading...</span>-->
<!--<div id="hjsbox" style="display:none">-->
<!--</div>-->
<!--<script>-->
	<!--//初始化一言-->
	<!--setTimeout("getkoto()",1000);-->
	<!--//加载一言-->
	<!--var t;-->
	<!--function getkoto(){-->
		<!--var hjs = document.createElement('script');-->
		<!--hjs.setAttribute('id', 'hjs');-->
		<!--hjs.setAttribute('src', 'http://api.hitokoto.us/rand?uid=3221&encode=jsc&fun=echokoto');-->
		<!--document.getElementById("hjsbox").appendChild(hjs);-->
		<!--t=setTimeout("getkoto()",2000);-->
	<!--}-->
	<!--//输出一言-->
	<!--function echokoto(result){-->
		<!--var hc = eval(result);-->
		<!--//$("#hitokoto").fadeTo(300,0);-->
		<!--document.getElementById("hitokoto").innerHTML = hc.hitokoto;-->
		<!--//$("#hitokoto").fadeTo(300,0.75);-->
	<!--}-->
<!--</script>-->


<!-- -----------------底部固定区域-------------------- -->
 <script type="text/javascript" src="js/foot_01.js"></script>

<script>
	// var app = new Vue({
	// 	el: "#isVip",
	// 	data: {
	// 		vip : 1
	// 	}
	// })
</script>
</body>
</html>