<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>登录  0826网  V0.1.45 一个佛系的网站_生活 日常 搞笑 娱乐 鸡汤</title>

<link type="text/css" rel="styleSheet" href="css/bootstrap.min.css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="css/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- -------------------头部------------------------------ -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<a> <img src="imgs/img.jpeg" align="right" width="55px"
					 height="55px" class="img-circle">
			</a>
			<h4>Welcome honey!</h4>
			<a href="/0826/myInfo" th:style="${session.iUser==null}?'display:none;':'font-size: medium'" th:text="${session.userName}">
			</a>
			<a href="/0826/logout" th:style="${session.iUser==null}?'display:none;':'font-size: medium'" th:text="${session.quitStr}">
			</a>
			<a href="/0826/login" th:style="${session.iUser==null}?'font-size: medium':'display:none'" th:text="我要登录哼">
			</a>
			<a href="/0826/re" th:style="${session.iUser==null}?'font-size: medium':'display:none'" th:text="让我加入鸭">
			</a>
		</div>
		<script type="text/javascript" src="js/head_01.js"></script>
		<!-- ------------------------------------------------------ -->


		<!-- -------------------小窝主体------------------------------ -->

		<form class="form-horizontal" action="/0826/check" method="POST">

			<div class="form-group">
				<label class="col-sm-2 control-label">昵称</label>
				<div class="col-sm-3">
					<input type="text" id="userName" name="userName" class="form-control"
						placeholder="Username">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">密码</label>
				<div class="col-sm-3">
					<input type="password" id="passWord" name="passWord" class="form-control" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-3">
					<div class="checkbox">
						<label> <input type="checkbox"> 记住就记住
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-3">
					<button type="submit" class="btn btn-info">我偏要登录<span class="glyphicon glyphicon-ok"></span></button>
				</div>
			</div>
		</form>

		<!-- ------------------------------------------------------ -->
	</div>
	<!-- -----------------------底部---------------------------- -->


	<!-- -----------------底部固定区域-------------------- -->
	 <script type="text/javascript" src="js/foot_01.js"></script>

	<!-- ------------------------------------------------------ -->
<script>

$(function (){
    $("[data-toggle='popover']").popover();
});

</script>
</body>
</html>